<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center mx-auto">
      <h2><strong>Edit User</strong></h2>
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label> <br>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="mb-3">
          <label for="exampleInputUsername" class="form-label">Username</label> <br>
          <input type="text" class="form-control" id="exampleInputUsername">
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label> <br>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword2" class="form-label">Password Confirmation</label> <br>
          <input type="password" class="form-control" id="exampleInputPassword2">
        </div>

        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Cancel my account</label>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
