<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Trends</p>
      <a class="panel-block"></a>
      Trend 1

     <a class="panel-block"></a>
      Trend 2

      <a class="panel-block"></a>
      Trend 3

      <a class="panel-block"></a>
      Trend 4

      <a class="panel-block"></a>
      Trend 5

      <a class="panel-block"></a>
      Trend 6
  </nav>


</div>
